[tool.poetry]
name = "stateless"
version = "0.4.0"
description = ""
authors = ["suned <sd@dybro-debel.dk>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.9"
typing-extensions = "^4.8.0"
cloudpickle = "^3.0.0"


[tool.poetry.group.dev.dependencies]
mypy = "^1.6.1"
ipdb = "^0.13.13"
ipython = "^8.17.2"
pytest = "^7.4.3"


[tool.mypy]
disallow_untyped_calls = true
disallow_untyped_defs = true
disallow_incomplete_defs = true
disallow_untyped_decorators = true
warn_redundant_casts = true
warn_unused_ignores = true
warn_return_any = true
strict_equality = true
disallow_any_generics = true

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
